SSH_USER=user
SSH_HOST=1.1.1.1
SSH_PORT=22
SSH_HOST_PORT=3306
SSH_BIND_PORT=3306
DB_PORT=3306
DB_USER="user"
DB_PASS="password"
DB_NAME="database"
XLSFILE="os_sales_report.xlsx"
INTERVAL=7
INTERVAL_TITLE="weekly"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@example.com
MAIL_PASSWORD=
MAIL_FROM=
MAIL_TO="User 1 <user1@website.com>, User 2 <user2@website.com>"
MAIL_CC="User 3 <user3@website.com>"
